<html>
    <head>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script src="{{ mix src='/js/site.js' }}" defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">



    </head>

        {{ partial:header2}}

    <body >
        <div>
            {{content}}
        </div>

    </body>
        {{ partial:footer2 }}



</html>



