<a class="relative h-430px style-card group" href="{{ url }}">
    <img class="h-full object-cover" src="{{ featured_image }}" alt="">
    <h3 class="absolute text-28-37px top-8 left-8 text-white z-10 font-playfair font-bold tracking-wider">{{ title }}</h3>
    <div class="absolute top-0 left-0 w-full h-140px bg-style-card-shadow"></div>
    <div class="absolute bottom-0 left-0 w-full h-140px origin-center rotate-180 bg-style-card-shadow"></div>
    <div class="absolute bottom-8 right-8 flex items-center gap-2">
        <p class="font-sans text-lg text-white group-hover:underline tracking-widest">Skaityti</p>
        <svg class="icon-arrow text-white" width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"></path>
        </svg>
    </div>
</a>
