
{{partial:partials/project-tags-slider}}
<div class="  mx-auto grid grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-8 ">


    {{ collection:projects as="project" limit="8" }}
    {{ project  }}
    {{ partial:projects/project_card }}
    {{ /project }}
    {{ /collection:projects }}
    <a href="/projects" class="group desktop:hidden  bg-white rounded hover:text-dark-orange transition-all flex flex-col active:text-orange    ">
        <div class=" more_projects-m   items-center m-8  rounded mobile:my-8 mobile:mx-6 ">
            <div class="max-h-380  bg-white mobile:flex tablet:flex items-center ">
                <div class="  ">
                    <h3 class="group-hover:text-dark-orange group-active:text-orange">Visi darbai</h3>
                </div>

                <div class=" ml-auto  ">
                        <p  class="flex gap-2  items-center group-hover:underline ">Žiūrėti
                            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                            </svg>
                        </p>
                </div>

            </div>
        </div>
    </a>

    <a href="/projects" class="mobile:hidden tablet:hidden group style-container bg-white rounded projects_card styles-box-shadow hover:shadow-styles-box-shadow-h active:shadow-none rounded">
        <div class="max-h-380  rounded">

            <div class="top-right w-full h-full rounded">
                <div class="mx-8 mt-8 flex more_projects">
                    <div>
                        <h3 class="text-black group-hover:text-dark-orange group-active:text-orange">Daugiau užbaigtų namų</h3>
                    </div>
                </div>
            </div>

            <div class="bot-right m-8 projects_card  ">
                <p class="group-hover:text-dark-orange group-active:text-orange flex text-black items-center group-hover:underline gap-2">
                    Žiūrėti
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                    </svg>
                </p>

            </div>

        </div>
    </a>


</div>

