<div class="mx-auto grid grid-cols-3  tablet:grid-cols-2 mobile:grid-cols-1  desktop:gap-8 tablet:gap-8 mobile:gap-y-8  ">

    {{taxonomy:style_tags sort="order" as="style" }}
    {{ style }}
    <a href="projects{{url}}" class=" rounded style group bg-white rounded shadow-styles-box-shadow hover:shadow-styles-box-shadow-h active:shadow-none styles-text style-container ">
        <div class="h-460 mobile:h-380 w-full rounded ">
            <img class="w-full h-full object-cover rounded " src="{{featured_image}}">

            <div class="top-right w-full h-full styles-shadow  rounded ">
                <div class="desktop:mx-8 desktop:mt-8 tablet:mx-8 tablet:mt-8 mobile:mx-4 mobile:mt-4  mb-2 flex">
                    <div>
                        <h1 class="">{{title}}</h1>
                    </div>
                    <div class="ml-auto flex z-2 " >

                        <div  class=" mr-2 hover:text-dark-orange active:text-orange cursor-pointer " onclick="cancelEvent(event), nextStyle(-1)">
                            <svg class="" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="currentColor" fill-opacity="0.04"/>
                                <path d="M20.6818 14H7.31819M7.31819 14L10.8182 10.5M7.31819 14L10.8182 17.5" stroke="currentColor"/>
                            </svg>
                        </div>


                        <div  class="ml-2 hover:text-dark-orange active:text-orange cursor-pointer "  onclick="cancelEvent(event), nextStyle(1)">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="currentColor" fill-opacity="0.04"/>
                                <path d="M7.31818 14H20.6818M20.6818 14L17.1818 10.5M20.6818 14L17.1818 17.5" stroke="currentColor"/>
                            </svg>

                        </div>

                    </div>
                </div>
                <div class="desktop:mx-8  tablet:mx-8 mobile:mx-4 ">
                    <h2>{{subtext}}</h2>
                </div>
            </div>
            <div class="bot-right desktop:m-8 tablet:m-8 mobile:m-4 styles-text ">
                <h3 class="flex items-center group-hover:underline gap-2">
                    Išsirink savo
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                    </svg>
                </h3>

            </div>
        </div>
    </a>
    {{/style}}
    {{ /taxonomy:style_tags}}


    <div class="col-span-2 tablet:hidden mobile:hidden">
        <div class="  mx-auto grid desktop:grid-cols-3 gap-8">
            {{ taxonomy:object_tags sort="orderliness" as="object" limit="3"}}
            {{ object }}
            <a href="/projects{{url}}" class="group style-container styles-text bg-white rounded text-black styles-box-shadow hover:shadow-styles-box-shadow-h active:shadow-none rounded">
                <div class="h-460  rounded">
                    <img class="w-full h-full object-cover rounded " src="{{featured_image}}">

                    <div class="top-right w-full h-full styles-shadow rounded">
                        <div class="desktop:mx-8 desktop:mt-8 tablet:mx-8 tablet:mt-8 mobile:mx-4 mobile:mt-4 flex">
                            <div>
                                <h1 class="">{{title}}</h1>
                            </div>
                        </div>
                    </div>

                    <div class="bot-right m-8 styles-text  ">
                        <h3 class="flex items-center group-hover:underline gap-2">
                            Žiūrėti
                            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                            </svg>
                        </h3>

                    </div>

                </div>
            </a>
            {{ /object }}
            {{ /taxonomy:object_tags }}
        </div>
    </div>




    {{ taxonomy:object_tags sort="orderliness" as="object" limit="3"}}
    {{ object }}
    <div>
    <a href="/projects{{url}}" class="desktop:hidden group gap-8 style-container styles-text bg-white rounded text-black styles-box-shadow hover:shadow-styles-box-shadow-h active:shadow-none rounded">
        <div class=" h-460 mobile:h-380 rounded">
            <img class="w-full h-full object-cover rounded " src="{{featured_image}}">

            <div class="top-right w-full h-full styles-shadow rounded">
                <div class="desktop:mx-8 desktop:mt-8 tablet:mx-8 tablet:mt-8 mobile:mx-4 mobile:mt-4 flex">
                    <div>
                        <h1 class="">{{title}}</h1>
                    </div>
                </div>
            </div>

            <div class="bot-right m-8 styles-text  ">
                <h3 class="flex items-center group-hover:underline gap-2">
                    Žiūrėti
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                    </svg>
                </h3>

            </div>

        </div>
    </a>
    </div>
    {{ /object }}
    {{ /taxonomy:object_tags }}

</div>

<script>

    function cancelEvent(e){
        e.preventDefault();
    }

    let StyleIndex = 1;
    showStyle(StyleIndex);

    function nextStyle(n) {
        showStyle(StyleIndex += n);
    }

    function showStyle(n) {
        let i;
        let slides = document.getElementsByClassName("style");


        if ( n > slides.length )
        {
            StyleIndex = 1;
        }

        if ( n < 1 )
        {
            StyleIndex = slides.length;
        }

        for (i = 0 ; i < slides.length ; i++ ){
            slides[i].style.display = "none";
        }

         slides[StyleIndex-1].style.display = "block";
    }

</script>
