
<a href="{{url}}" class="group bg-white rounded hover:text-dark-orange transition-all flex flex-col active:text-orange sm:flex hover:shadow-card-hover shadow-card active:shadow-none">
    <div class="rounded">
        <div class="max-h-380 h-378 project-container ">
                <img class="w-full h-full object-cover group rounded " src="{{ featured_image }}">

                <div class="group-hover:block hidden  bottom w-full project-shadow h-40  ">
                    <div class="bottom w-full" >
                        <div class="projects_card relative m-8 ">
                            <h1>{{title}}</h1>
                            <div class="mt-2 flex items-center">
                                <div>
                                    <h2>{{years}}, {{ location }}</h2>
                                </div>
                                <div class="ml-auto underline">
                                    <p class="flex gap-2  items-center ">Žiūrėti
                                        <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</a>



