<div class="grid bp-footer:grid-cols-auto-fit grid-cols-1 gap-8">
    {{ collection:posts group_by="date|F Y"  limit="2" }}
        <div class="bg-white rounded-md ">
            <a  href="#">
               <img class="w-full " src="{{ featured_image }}">
            </a>
            <h5 class="my-8 mx-8 min-h-48 006em font-bold text-18-24px font-playfair">{{title}}</h5>

            <div class="ml-8 flex items-center gap-2 mb-8">
                <div>
                    <img src="{{ author:avatar }}" class="h-9 w-9 rounded-full">
                </div>
                <div>
                    <h6 class="font-serif font-medium tracking-widest text-14-19px">{{author:name}}</h6>
                    <p class="font-sans 002em text-12-14px"> {{date}}</p>
                </div>
                <div class="  mt-auto ml-auto " >
                    <a href="#" class="pr-8 text-16-22px hover:underline hover:text-orange active:text-dark-orange flex gap-2 font-serif tracking-widest items-center font">Skaityti
                        <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                    </svg>
                    </a>
                </div>

            </div>




        </div>
    {{ /collection:posts }}
    <div class="bg-white rounded-md ">


    </div>
</div>
