
<a href="{{url}}" class="group bg-white rounded hover:text-dark-orange transition-all flex flex-col active:text-orange sm:flex hover:shadow-card-hover shadow-card active:shadow-none">
        <div>
            <div class="max-h-380 h-378 ">
                <img class="w-full h-full " src="{{ featured_image }}">
            </div>

         <div class="PcardTitle line-clamp-2 my-8 mx-8">
             <h5 class=" min-h-48">{{title}}</h5>
         </div>


        <div class="ml-8 flex items-center gap-2 mb-8">

            <img src="{{ author:avatar }}" class="h-9 w-9 rounded-full">
            <div class="PcardAuthor">
                <h6 class="">{{author:name}}</h6>
                <p class="">Publikuota {{ date format_localized="%B %d, %Y"  }}</p>
            </div>


            <div class=" mt-auto ml-auto " >
                <p href="#" class="pr-8 text-16-22px group-hover:underline hover:text-dark-orange active:text-orange flex gap-2 font-serif tracking-widest items-center font">Skaityti
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                    </svg>
                </p>
            </div>
        </div>
        </div>
    </a>



