
    <a href="{{url}}"
       class="group bg-white rounded hover:text-dark-orange transition-all flex flex-col active:text-orange sm:flex hover:shadow-card-hover shadow-card active:shadow-none">
        <div>
        <img class="w-full " src="{{ featured_image }}">
        <h5 class="my-8 mx-8 min-h-48 tracking-006em font-bold text-18-24px font-playfair ">{{title}}</h5>

        <div class="ml-8 flex items-center gap-2 mb-8">

            <img src="{{ author:avatar }}" class="h-9 w-9 rounded-full">
            <div>
                <h6 class="text-black font-serif font-medium tracking-widest text-14-19px">{{author:name}}</h6>
                <p class="text-black font-sans2 tracking-002em text-12-14px">Publikuota {{ date  }}</p>
            </div>


            <div class=" mt-auto ml-auto " >
                <p href="#" class="pr-8 text-16-22px group-hover:underline hover:text-dark-orange active:text-orange flex gap-2 font-serif tracking-widest items-center font">Skaityti
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                    </svg>
                </p>
            </div>
        </div>
        </div>
    </a>



