


    <div class="container max-w-1215px mx-auto grid grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-4   ">
        {{ collection:posts as="post" }}
        {{ post sort="date:desc"  limit="2"}}
            {{ partial:posts/card }}
        {{ /post }}

        {{ /collection:posts }}
        <a href="/posts"
           class="group tablet:col-span-2 bg-white text-grey-card rounded hover:text-dark-orange transition-all flex flex-col active:text-orange hover:shadow-card-hover shadow-card active:shadow-none active:bg-clicked-card-bg">
        <div >
            <div class="flex  flex-col  ">
                <h2 class="mx-8 pt-8 mb-8 font-bold text-38-51px font-playfair  tracking-006em ">Daugiau patarimų</h2>
                <svg class="mx-8" width="20" height="1" viewBox="0 0 20 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="0.5" x2="20" y2="0.5" stroke="currentColor"/>
                </svg>
                <p class="mx-8 mt-8 font-sans font-normal tracking-003em text-20-28px ">Mylimiausias temas -medžiagos, inžinerinės sistemos ir processai 🤓</p>
            </div>
        </div>
        <div class=" mt-auto ml-auto flex items-center  " >
            <p class="pr-8 pb-8 text-16-22px group-hover:underline  flex gap-2 font-serif tracking-widest items-center font xs:mt-16">Žiūrėti visus
                <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 6H21M21 6L15.5 0.5M21 6L15.5 11.5" stroke="currentColor"/>
                </svg>
            </p>
        </div>
    </a>
    </div>



