{{ partial:header2}}

<div class="container w-full items-center mx-auto max-w-1215px px-4">

        <a href="/posts" class="hover:text-orange active:text-dark-orange font-ale-sans font-normal text-16-20px underline tracking-002em ">Dizaino blogas</a>

    <div class="mt-1 Pheader">

       <h3 class="">{{title}}</h3>
    </div>
            <div class="mt-4 flex items-center gap-2 ">

                <img src="{{ author:avatar }}" class="h-11 w-11 rounded-full">
                <div>
                    <h6 class="text-black font-serif font-medium tracking-widest text-18-24px">{{author:name}}</h6>
                    <p class="text-black font-sans2 tracking-002em text-14-17px">Publikuota {{ date  }}</p>
                </div>
                <a href="#" class="rounded-full ml-8 px-3 py-3 bg-post-share hover:bg-lang-bg-h active:bg-lang-bg-a hover:text-dark-orange active:text-orange">
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6757 7.68421C6.5178 8.43369 2.88272 13.7571 1.18052 17.2791C0.372477 18.9509 0 20.2168 0 20.3947C0.649802 19.3798 1.31149 18.5478 2.00795 17.8665C4.46389 15.4643 7.35213 14.9371 11.6757 14.8751C12.0008 14.8705 12.3339 14.8684 12.6757 14.8684V21.5L24 11L12.6757 0.5V7.68421ZM13.6757 2.79092V8.56988L12.7965 8.67688C8.66304 9.17997 5.71427 11.9538 3.75756 14.8117C3.55949 15.1009 3.3726 15.3897 3.19667 15.6753C3.71424 15.3606 4.25681 15.0956 4.82996 14.8748C7.02622 14.0285 9.58221 13.8684 12.6757 13.8684H13.6757V19.2091L22.5292 11L13.6757 2.79092Z"
                                  fill="currentColor"/>
                        </svg>
                </a>


            </div>
    <hr class="mt-8 mb-16 " style=" border: 1px solid #000000; background-color:black">

    <div class="bard">
        {{post_content }}
            {{partial src="sets/{type}" }}
        {{/post_content }}
    </div>



    <div class="items-center flex bg-cta-bg px-8 py-4 mt-30 xs:hidden">

        <h5 class="font-playfair text-18-24px font-bold tracking-006em">Patiko straipsnis?
            <p class="font-normal font-sans2 text-16-22px tracking-002em ">Pasidalink su draugais  — tai padeda mums suprasti kas jums yra aktualu 👉</p></h5>

        <a href="#" class="rounded-full ml-auto px-3 py-3 bg-post-share hover:bg-lang-bg-h active:bg-lang-bg-a hover:text-dark-orange active:text-orange">
            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6757 7.68421C6.5178 8.43369 2.88272 13.7571 1.18052 17.2791C0.372477 18.9509 0 20.2168 0 20.3947C0.649802 19.3798 1.31149 18.5478 2.00795 17.8665C4.46389 15.4643 7.35213 14.9371 11.6757 14.8751C12.0008 14.8705 12.3339 14.8684 12.6757 14.8684V21.5L24 11L12.6757 0.5V7.68421ZM13.6757 2.79092V8.56988L12.7965 8.67688C8.66304 9.17997 5.71427 11.9538 3.75756 14.8117C3.55949 15.1009 3.3726 15.3897 3.19667 15.6753C3.71424 15.3606 4.25681 15.0956 4.82996 14.8748C7.02622 14.0285 9.58221 13.8684 12.6757 13.8684H13.6757V19.2091L22.5292 11L13.6757 2.79092Z"
                      fill="currentColor"/>
            </svg>
        </a>

    </div>

    <div class="mt-32 mb-32">
        <h3 class="mb-8 text-28-37px font-playfair font-bold tracking-006em">Daugiau straipsnių</h3>
        <div class="container max-w-1215px mx-auto grid grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-4  ">

        {{ collection:posts :taxonomy:tags="tags" :id:isnt="id" sort="date:desc"  as="post"}}

            {{ if  post | count  >= 3  }}
                {{ total = 0 }}
                {{ post limit="3" }}
                    {{ partial:posts/card }}
                {{ /post }}
            {{ /if }}
            {{ if  post | count  == 2  }}
                {{ total = 1 }}
                {{ post limit="2" }}
                    {{ partial:posts/card }}
                {{ /post }}
            {{ /if }}
            {{ if  post | count  ==  1 }}
                {{ total = 2 }}
                {{ post limit="1" }}
                    {{ partial:posts/card }}
                {{ /post }}
            {{ /if }}
        {{ /collection:posts }}
            {{ if total != 0 }}
            {{ collection:posts :id:isnt="id" :taxonomy:tags:not="tags" sort="date:desc" limit={total}  as="post"}}
                {{ post  }}
                    {{ partial:posts/card }}
                {{ /post }}
            {{ /collection:posts }}
            {{ /if }}
        </div>
    </div>

</div>
{{partial:footer2}}


<div id="images-modal" class="fixed flex z-10 top-0 left-0 w-full h-full overflow-hidden bg-black hidden">

    <div class="relative w-full h-full">
        <img id="modal-img" class="h-full m-auto zoom-animation" src="" alt="" />
        <div class="absolute top-0 left-0 w-full h-80 bg-img-top-shadow lg:px-32 px-5 py-4 flex items-center">
            <div>
                <p id="images-count" class="sans text-18-24px font-medium text-white tracking-widest">Image 2 of 12</p>
                <div class="flex items-center">
                    <p id="image-author" class="sans text-16-20px text-white tracking-002em">Photo by: Author name</p>
                </div>
            </div>
            <div
                class="p-3 flex items-center justify-center cursor-pointer bg-white-menu-bg-h hover:bg-white-menu-bg-a active:bg-white rounded-full text-white active:text-light-orange ml-auto"
                onclick="closeModal()"
            >
                <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 0.5L21.5 21.5" stroke="currentColor"/>
                    <path d="M0.5 21.5L21.5 0.500005" stroke="currentColor"/>
                </svg>
            </div>
        </div>
        <div class="absolute bottom-8 left-0 right-0 mx-auto w-fit max-w-full lg:max-w-1215px bg-black-0.25 p-2 rounded flex items-center gap-2">
            {{post_content }}
            {{ if type == "one_image" }}
            {{ image }}
            <img class="h-14 cursor-pointer" src="{{url}}" alt="" onclick="selectImage('{{url}}', '{{photo_author}}')">
            {{ /image }}
            {{ elseif type == "two_images_in_row"}}
            {{image1}}
            <img class="h-14 cursor-pointer" src="{{url}}" alt="" onclick="selectImage('{{url}}', '{{image1_author}}')">
            {{/image1}}
            {{image2}}
            <img class="h-14 cursor-pointer" src="{{url}}" alt="" onclick="selectImage('{{url}}', '{{image2_author}}')">
            {{/image2}}
            {{ /if }}
            {{/post_content }}
        </div>
    </div>
</div>

<script type="application/javascript">
    const projectImages = document.getElementsByClassName('project-image');
    const modal = document.getElementById('images-modal');
    const modalImg = document.getElementById('modal-img');
    const imagesCountDiv = document.getElementById('images-count');
    const authorNameDiv = document.getElementById('image-author');

    for (const index in projectImages) {
        const image = projectImages[index];
        image.onclick = () => {
            imagesCountDiv.innerHTML = `Image ${Number(index) + 1} of ${projectImages.length}`;
            // todo set author name
            modalImg.src = image.src;
            modal.classList.remove('hidden');
        };
    }

    function closeModal() {
        modal.classList.add('hidden');
    }

    function selectImage(imageSrc, authorName) {
        let index = 0;
        for (const idx in projectImages) {
            if (projectImages[idx].src.includes(imageSrc)) {
                index = Number(idx);
                break;
            }
        }
        modalImg.src = imageSrc;
        imagesCountDiv.innerHTML = `Image ${index + 1} of ${projectImages.length}`;
        authorNameDiv.innerHTML = `Photo by: ${authorName}`;
    }
</script>
