<div class="grid grid-cols-2 gap-8">
    <div class="items-center">
        {{image1}}
        <img class="w-full" src="{{ url }}">
        {{/image1}}
        <div class="flex justify-center mt-2">
            <p class="mr-1 text-16-22px">Photo by: </p><p class=" text-16-20px underline">{{image1_author}}</p>
        </div>

    </div>
    <div class="items-center ">
        {{image2}}
            <img class="w-full" src="{{ url }}">
        {{/image2}}
        <div class="flex justify-center mt-2">
            <p class="mr-1 text-16-22px">Photo by: </p><p class=" text-16-20px underline">{{image2_author}}</p>
        </div>


    </div>
</div>
