<div class="tablet:hidden mobile:hidden flex items-center flex-wrap gap-4 px-4 mb-4">
    <a id="o_all" href="/projects" class=" tracking-widest text-16-22px  font-medium hover:text-white bg-white active:text-white font-sans2 rounded hover:bg-dark-orange active:bg-orange py-2 px-4">Visi objektai</a>

    {{ taxonomy:object_tags collection="projects"  }}
    <a id="o_tags" href="{{ url }}" class=" aElements font-medium tracking-widest text-16-22px hover:text-white bg-white active:text-white font-sans2 rounded hover:bg-dark-orange active:bg-orange  py-2 px-4">{{ title }}</a>
    {{ /taxonomy:object_tags }}

</div>

<svg width="1200" height="1" viewBox="0 0 1200 1" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="0.5" x2="1200" y2="0.5" stroke="#DEDEDE"/>
</svg>

<div class="tablet:hidden mobile:hidden flex items-center flex-wrap gap-4 px-4 mt-4 mb-8">
    <a id="s_all" href="/projects" class=" tracking-widest text-16-22px  font-medium hover:text-white bg-white active:text-white font-sans2 rounded hover:bg-dark-orange active:bg-orange py-2 px-4">Visi stiliai</a>

    {{ taxonomy:style_tags collection="projects"  }}
    <a id="s_tags" href="{{ url }}" class=" aElements font-medium tracking-widest text-16-22px hover:text-white bg-white active:text-white font-sans2 rounded hover:bg-dark-orange active:bg-orange  py-2 px-4">{{ title }}</a>
    {{ /taxonomy:style_tags }}

</div>


<a href="#"
   class="desktop:hidden mx-4 group bg-white active:bg-orange active:text-white transition-all flex flex-col px-4 py-2 mb-4 shadow-toolTip rounded"
   onclick="ShowToolTip()">
    <div class="flex ">
        <p id="selectedTag "  class="truncate" > {{ title === "Projects" ? 'Visi objektai' : title  }}</p>
        <p class="ml-auto flex items-center gap-2 text-16-22px font-serif tracking-widest font-normal">Filtrai
            <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L3 3L5 1" stroke="currentColor"/>
            </svg>
        </p>
    </div>
</a>


<div id="tool" class="bg-white hidden fixed bottom-0  w-full z-40 translate-y-250 transition-all duration-500  ">
    <div class=" mx-5 my-5">
        <a  href="/posts" class="tracking-002em font-sans2 py-3 flex w-full relative pr-5 pl-4  rounded mb-2 bg-toolTip-bg items-center hover:bg-lang-bg-h active:bg-lang-bg-a hover:text-dark-orange active:text-orange"> <p class="truncate ">Visi Postai</p>
            <svg class="ml-auto" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.75 6.5L3.75 4L0.75 1.5" stroke="currentColor" stroke-linecap="square"/>
            </svg>
        </a>
        {{ taxonomy:object_tags collection="projects"  }}
        <a id="" href="{{ url }}" class=" tracking-002em font-sans2 py-3 flex w-full relative pr-5 pl-4  rounded mb-2 bg-toolTip-bg items-center hover:bg-lang-bg-h active:bg-lang-bg-a hover:text-dark-orange active:text-orange" >
            <p class="truncate ">{{ title }}</p>
            <svg class="ml-auto" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.75 6.5L3.75 4L0.75 1.5" stroke="currentColor" stroke-linecap="square"/>
            </svg>
        </a>
        {{ /taxonomy:object_tags }}
    </div>

</div>

<div id="dark-bg" class="hidden w-full h-full fixed top-0 left-0 bg-cover-bg z-30" onclick="hideDarkBackground2()">
</div>

<script>
    let hideToolTip = true;
    document.body.addEventListener("click", HideToolTip);


    function ShowToolTip(){
        hideToolTip = false;
        let tool = document.getElementById('tool');
        let dark = document.getElementById('dark-bg');
        tool.classList.remove('hidden');
        dark.classList.remove('hidden');

    }
    function HideToolTip(){
        if(hideToolTip === true){
            let tool = document.getElementById('tool');
            let dark = document.getElementById('dark-bg');
            tool.classList.add('hidden');
              dark.classList.add('hidden');
        }else {
            hideToolTip = true;
        }
    }

    window.onload = ChangeColor;
    function ChangeColor(){
        let all = document.getElementById('o_all');
        let tags = document.getElementById('o_tags');

        let aElements = document.getElementsByClassName('aElements');

        if(window.location.pathname == "/projects" ){
            all.classList.remove('bg-white');
            all.classList.add('bg-orange');
            all.classList.add('text-white');
        }
        else {
            for( let i = 0 ; i < aElements.length ; i++ )
            {
                if (aElements[i].pathname == "{{ url }}" ){

                console.log(aElements[i]);
                aElements[i].classList.remove('bg-white');
                aElements[i].classList.add('bg-orange');
                aElements[i].classList.add('text-white');
                }
            }

        }
    }


</script>
