<html>

<header>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <script src="{{ mix src='/js/site.js' }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</header>

{{ partial:header2}}
<div class="container w-full items-center mx-auto bp-footer:px-40 px-4">
    <div>
        <h2 class="mb-8 text-38-51px font-playfair font-bold 006em">Dizano blogas</h2>
    </div>
    <div class="mx-8">
        <a href="/posts/tags" class="hover:text-white active:text-white font-sans rounded-md hover:bg-dark-orange active:bg-dark-orange py-2 px-4">Visi postai</a>

        {{ tags }}
        <a href=" {{ url }}" class="hover:text-white active:text-white font-sans">{{ title }}</a>
        {{ /tags }}

    </div>
    {{ entries as="posts"  }}


    <div class="relative container mx-auto grid bp-footer:grid-cols-3 grid-cols-1 gap-4 ">
        {{ posts }}
            {{ partial:posts/card }}
        {{ /posts }}
    </div>
    {{ /entries }}
</div>
{{ partial:footer2 }}

</html>



